# =====================================
# Software Engineering project Git Ignore
# =====================================

# Local setup files:
setup_local_env.py
config.ini
libs/

# Python-Cache-files:
__pycache__/
*.py[cod]
*$py.class

# Virtuale enviroment:
.venv/
venv/
env/
ENV/

# IDE / Editor files:
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-Systemfiles:
.DS_Store
Thumbs.db

# Logs and temporary files:
*.log
*.tmp
*.bak
logs/
sounds/

# Jupyter Notebook Checkpoints:
.ipynb_checkpoints/
